/* base.html */
ul {
    list-style-type: none;
}

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #111;
  }

/* 
 project_list.html
 */
 body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.btn-view,
.btn-delete,
.btn-create,
.btn-edit {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-view, .btn-edit {
  background-color: #4CAF50;
}

.btn-delete {
  background-color: #f44336;
}

.btn-create {
  background-color: #008CBA;
  margin-top: 10px;
}

.btn-view:hover,
.btn-delete:hover,
.btn-create:hover,
.btn-edit:hover {
  background-color: #555;
}

/* project_detail.html */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-name {
  color: #333;
}

.description, .client, .end-date {
  margin-bottom: 10px;
}
.tasks-heading {
  color: #555;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table th, .task-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.task-table th {
  background-color: #f2f2f2;
}

.task-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* project_form.html */
.task-container, .project-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  height: 35px; /* Adjust height for select */
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}
